<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            padding:0px;
            margin:0px;
            box-sizing: border-box;
        }

        body{
            padding: 20px;
        }

        section.content{
            min-height: calc(100vh - 100px);
        }
        header ul li{
            display: inline-block;
        }
    </style>
    {% if title %}
        <title>{{ title }} . website</title>
    {% else %}
        <title>Website</title>
    {% endif%}
</head>
</html>

{% block content %}
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, possimus natus alias libero odit aut sed itaque veritatis dolorem consequuntur? Inventore nostrum ea obcaecati aut velit, est praesentium earum eligendi ducimus explicabo cumque rem accusamus eaque harum. Nobis laborum odit itaque corrupti consequuntur voluptas hic velit illo inventore ex provident, officia dolorem impedit praesentium ratione alias, quidem porro labore magnam laudantium exercitationem ullam similique vel? Pariatur eaque ducimus ipsam qui unde perferendis laborum, vero est reprehenderit commodi possimus quasi in nostrum dolorem delectus cumque consequuntur, eum sed, ut quam architecto ipsa voluptas. Accusamus magni deserunt soluta voluptate similique? Sapiente, voluptatibus!</h1>
    <a href="{{url_for('login')}}" style="text-decoration: none;background-color: aquamarine; text-align: center;">Back</a>
{% endblock content %}