{% extends 'layout.html' %}

{% block content %}
    <div class="edit-profile-field">
        <form action="" method="post">
            <div class="profile-photo">
                <img src="{{ url_for('static', filename='images/profile' + (current_user.profile_pic if current_user.profile_pic != 'images/profile/default.jpg' else 'default.jpg')) }}" alt="Profile Photo">
                <div class="">
                    {{ form.profile_pic.label(class="form-control-label") }}
                    {{ form.profile_pic(class="form-control-file") }}
                    {% for error in form.profile_pic.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="">
                <div class="">
                    {{ form.fullname.label(class="") }}
    
                    {% if form.fullname.errors%}
                        {{ form.fullname(class="") }}
                        <div class="">
                            {% for error in form.fullname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fullname(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.username.label(class="") }}
    
                    {% if form.username.errors%}
                        {{ form.username(class="") }}
                        <div class="">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control ") }}
                    {% endif %}
    
                </div>
                <div class="">
                    {{ form.bio.label(class="") }}
    
                    {% if form.bio.errors%}
                        {{ form.bio(class="") }}
                        <div class="">
                            {% for error in form.bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bio(class="form-control ") }}
                    {% endif %}
    
                </div>
                <div class="">
                    {{ form.email.label(class="") }}
    
                    {% if form.email.errors%}
                        {{ form.email(class="") }}
                        <div class="">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control ") }}
                    {% endif %}
    
                </div>
                <div class="">
                    {{ form.password.label(class="") }}
    
                    {% if form.password.errors%}
                        {{ form.password(class="") }}
                        <div class="">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control ") }}
                    {% endif %}
    
                </div>
            </div>
            <div class="">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}