{% extends 'layout.html' %}

{% block content %}
	<div class="form-group">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
				<div class="form-control">
					{{ form.username.label(class="") }}

					{% if form.username.errors%}
						{{ form.username(class="") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="") }}
					{% endif %}

				</div>

				<div class="form-control">
					{{ form.password.label(class="") }}

					{% if form.password.errors%}
						{{ form.password(class="") }}
						<div class="">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class=" ") }}
					{% endif %}

				</div>
			<div class="btn btn-default">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<div class="frame">
				<div class="">Don't have an account?</div>
				<a href="{{ url_for('signup') }}" style="text-decoration: none;">Signup</a>
			</div>
			


		</form>
	</div>
{% endblock content %}