{% extends "layout.html" %}

{% block content %}
    <div class="profile-card">
        <div class="pfp-container">
            <div class="profile-photo">
                <img src="{{ url_for('static', filename='images/' + current_user.profile_pic ) }}" alt="Profile Photo">
            </div>
            <a href="{{ url_for('editprofile') }}" class="editprofile"style="text-align: center;">Edit Profile</a>
        </div>

        <div class="profile-info">
            <h2>{{current_user.fullname}}</h2>
            <p>{{ current_user.bio }}</p>
            <div class="statistic-container">
                <p class="post-count">Posts: {{ current_user.posts|length }}</p>
                <p class="follow-count">Following: {{ current_user.following_users|length }}</p>
                <p class="follow-count">Follower: {{ current_user.follower_users|length }}</p>
            </div>
        </div>
    </div>

    <div class="image-container">
        {% for post in posts %}
            <div class="image-item"><img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image"></div>
        {% endfor %}
    </div>
{% endblock content %}